@font-face {
	font-family: "roboto";
	font-style: normal;
	font-weight: 400;
	src: url("./fonts/Roboto-ThinItalic.ttf");
}
body{
    text-align: center;
    background-color: rgb(0, 255, 13);
}
div#cuerpo {
    background-color: teal;
    text-align: center;
}
div#divPhaser {
    /*background-color: violet;*/
    
    display: inline-block;
}

canvas {
    text-align: center;
    background-color: rgb(68, 0, 255);
}